html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://v.wpimg.pl/OGM1YjVkYCYsUy9ZeRBtM28LewM_SWNlOBNjSHldfXM1Hj8DOg49Ij1edw0kHj8mOkF3GjpELjckHi9beQ8mND1dOBN5DiIlKFV2DmRcdyF8AmtHMg15dGAFbFs0Ri1-fwJ0U24KKn8uBDtfMl54ZTA);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-weight: 600;
}

.conteiner {
    max-width: 800px;
    margin: 100px auto;
    background-color: hsla(34, 74%, 91%, 0.858);
    padding: 30px;
    border-radius: 10px;
}

.form__fieldset {
    border-radius: 10px;
    padding: 10px 20px;
    border-color: rgba(100, 26, 100, 0.458);
}

.form__legend {
    color: white;
    background-color: rgb(91 24 91 / 46%);
    padding: 10px;
    border-radius: 5px;
}

.form__textLabel {
    max-width: 100%;
    display: inline-block;
    margin-right: 10px;
    
}

.form__button {
    width: 100%;
    padding: 5px;
    margin: 15px auto;
    border: none;
    background-color:rgb(91 24 91 / 46%);
    color: white;
    border-radius: 10px;
}

.form__button:hover {
    background-color: hsla(300, 58%, 30%, 0.459)
}

.form__button:active {
    background-color: hsla(300, 58%, 55%, 0.459)
}

.form__textLabel--strong {
    font-size: 25px;
}

.footer {
    text-align: center;
    margin-top: 10px;
}
